NEXT_PUBLIC_SITE_URL = https://pic2ads.io
NEXT_PUBLIC_API_BASE_URL = https://api.pic2ads.io/v1
SUPABASE_URL=https://chfjaiivnyvwstqnxobo.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoZmphaWl2bnl2d3N0cW54b2JvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjU4NzUzOSwiZXhwIjoyMDkyMTYzNTM5fQ.ULgTHfmU0mVuK-xxQRStY7cHRylFsdwJ5AZ1Dozdju0
SUPABASE_STORAGE_BUCKET=product-images
SUPABASE_STORAGE_PUBLIC_URL=
